<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel = "methods" thread-count="5">
    <test name="Test">
        <classes>
            <class name="com.runner.RunnerTestNg"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test2">
        <classes>
            <class name="com.runner.RunnerTestNg2"/>
        </classes>
    </test>
</suite> <!-- Suite -->

